*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link{
    color: white;
}

.logo img{
    margin-top: 10px;
}

.navbar-nav{
    height: 51px;
}

.nav-belt{
    background-color: #131921;
}

.mynav-main{
    background-color: #232f3e;
}



.deliver{
    font-size: 13px;
    color: #cccccc;
}

.india{
    font-size: 15px;
    color: #ffffff;
    margin-top: -7px;
}

.search > .dropdown > .btn{
    background-color: #d6d6d6;
    font-size: 14px;
}

.search > .dropdown > a:hover{
    background-color: #d6d6d6;
    color: black;
}



.search > .dropdown > a{
    border-radius: 5px 0 0 5px;
    height: 45px;
    border-right: 1px solid #adabab;
    border: 0;
    box-shadow: none;
}

.search > form > input{
    height: 45px;
    border-radius: 0;
    width: 890px;
}

.search > form > button {
    margin: 0 0 0 -8px;
    border-radius: 0 5px 5px 0;
    height: 45px;
    background-color: #febd69;
}

.search > form > button:hover{
    background-color: #f08804;
}

.search > form > button > i{
    font-size: 23px;
}

.lang > .dropdown > .btn{
    background-color: transparent;
    color: white;
}

.lang > .dropdown > .dropdown-toggle{
    border: 0;
    box-shadow: none;
}

.sign-in{
    position: relative;
    margin-top: 14px;
    margin: 0 0 0 2px;
}

.sign-in span{
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 22px;
    left: 12px;
}

.sign-in > .account{
    color: white;
    font-size: 16px;
}


.account > .dropdown > .dropdown-toggle{
    border: 0;
    box-shadow: none;
    color: white;
}

.return-order{
    color: white;
}

.return-order > .return{
    font-size: 12px;
    bottom: 18px;
}

.cart{
    margin-left: 18px;
}

.cart .count{
    left: 25px;
    top: 8px;
    color: #f08804;
    font-weight: 700;
}

.cart  p{
    color: white;
    font-weight: 700;
    top: 24px;
    left: 46px;
}